body {
    margin: 0;
    font-family: Poppins;
    background: linear-gradient(120deg, #8EC5FC, #E0C3FC);
    text-align: center;
}

.container {
    margin-top: 150px;
    color: white;
}

.logout {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    background: #ff4b5c;
    color: white;
    cursor: pointer;
}
